<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j.
 Set to debug or trace if log4j initialization is failing. -->
<Configuration status="warn">
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
        <!-- File appender configuration -->
        <File name="file" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <!-- Root logger referring to both console and file appenders -->
        <Root level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/> <!-- Added this line to refer to the File appender -->
        </Root>
    </Loggers>
</Configuration>